html, body {
  height: 100%;
  width: 100%;
  margin:0
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#sidebar {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
  font-family: verdana;
}

.info-box {
  top: 25px;
  right: 25px;
  z-index: 10;
  background-color:#b3ecf8;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom:15px
}

h3 {
  margin: 0 0 15px 0;
  font-size: .9rem;
  font-family: verdana;
}

h4 {
  margin: 0 0 15px 0;
  font-size: .80rem;
  font-family: verdana;
}

button {
  padding: 20px;
  font-weight: 1000;
  border-radius: 10px;
  background-color: lightyellow;
}

.legend-color-box {
  height: 10px;
  width: 10px;
  float: left;
  margin-left: 10px;
}
